<div class="main-block--tasks--content">
  <h4 class="main-block--header">Tasks</h4>
  <div *ngIf="!selectedListItem"
       class="main-block--empty main-block--empty--default">
    <p>Please select a list from the sidebar</p>
  </div>
  <ng-container *ngIf="selectedListItem && !selectedListItem?.tasks?.length; else tasksList">
    <div class="main-block--empty">
      <p>Task list is empty</p>
    </div>
  </ng-container>
  <ng-template #tasksList>
    <div class="tasks--block">
      <div *ngFor="let task of selectedListItem?.tasks; let i = index"
           class="tasks--block--item">
        <p class="me-4 mb-0">{{task.name}}</p>
        <app-edit [index]="i"
                  [elements]="selectedListItem?.tasks"></app-edit>
      </div>
    </div>
  </ng-template>
</div>
<div *ngIf="selectedListItem" class="tasks--block--add">
  <button (click)="createTask()" class="btn btn-success rounded-circle">
    <i class="fa-solid fa-plus m-0"></i>
  </button>
</div>
