<div>
  <div class="modal-header" *ngIf="withModalHeader">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button *ngIf="hasSaveBtn" type="button" class="btn btn-default" (click)="cancelBtnFn()">{{cancelBtnText}}</button>
    <button type="button" class="btn btn-success" (click)="saveBtnFn()">{{saveBtnText}}</button>
  </div>
</div>
