<div class="d-flex align-items-center justify-content-between"
     out-click
     (outClickEvent)="elements[index].isEditable = $event">
  <div *ngIf="elements[index]?.isEditable"
       class="tasks--block--item--edit">
    <input type="text"
           [(ngModel)]="elementName" focus
           (keyup.enter)="saveElement()">
    <i class="fas fa-check" (click)="saveElement()"></i>
  </div>
  <div class="d-flex align-items-center">
    <i *ngIf="isInList" class="fa-solid fa-clone me-2 tasks--block--item--icon"
       (click)="duplicateItem($event)"></i>
    <i class="fas fa-edit me-2 tasks--block--item--icon"
       (click)="editElement($event)"></i>
    <i class="fa-solid fa-trash-can tasks--block--item--icon"
       (click)="removeElement($event)"></i>
  </div>
</div>
